<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Test template</title>

	<!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/ChiTietCongViec.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


</head>
<body>

	<div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-calendar"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                QUẢN LÝ
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                     
                    <span>QUẢN LÝ CÔNG VIỆC</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">                
                    <span>QUẢN LÝ NHÂN VIÊN</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
	                <!-- Page Heading -->
                    <div class="my-4"></div>
	                <a href="index.html" class="btn btn-primary btn-icon-split">
	                    <span class="icon text-white-50">
	                        <i class="fas fa-arrow-left"></i>
	                    </span>
	                  	<span class="text">Quay trở lại trang chủ</span>
	                </a>
	                <div class="my-4"></div>

					<div class="row">
						<!-- Left Contain -->
						<div class="col-lg-6">
							<div class="card">
								<div class="text-center">
									<h1 class="h1 text-gray-900"> Chi tiết công việc </h1>
								</div>
				                
                                <!-- tblChiTietCongVien -->
				                <div class="table-responsive">
				                	<table class="table table-fluid" id="tblChiTietCongViec">
				                   		<tbody>
				                   			<tr>
				                   				<th class="text-gray-900"> Mã công việc </th>
				                   				<th> 1 </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Người tạo công việc </th>
				                   				<th> Phạm Đức Khải </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Tên công việc </th>
				                   				<th> Lập danh sách nhân viên </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Ngày bắt đầu </th>
				                   				<th> 20-03-2021 </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Ngày kết thúc </th>
				                   				<th> 21-03-2021 </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Phạm vi </th>
				                   				<th> Cá nhân </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Trạng thái </th>
				                   				<th> Chưa hoàn thành </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Số người tham gia </th>
				                   				<th> 1 </th>
				                   			</tr>
				                   			<tr>
				                   				<th class="text-gray-900"> Tên thành viên </th>
				                   				<th> Phạm Đức Khải </th>
				                   			</tr>
                                            <tr>
                                                <th class="text-gray-900"> Tài liệu </th>
                                                <th>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend"></div>
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input " name="document">
                                                            <label class="custom-file-label" for="inputGroupFile01">Chọn file</label>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
				                   		</tbody>
				                   	</table>
				                </div>
                                <!-- End of tblChiTietCongVien -->

				            </div>
			            </div>
			            <!-- End of Left Contain -->

			            <!-- Right Contain -->
			            <div class="col-lg-6">
			            	<div class="card">
				            	<div class="card-body">
				            		<div class="text-center">
						            	<button type="button" class="btn btn-success" id="buttonBinhLuan"> 
						            		Bình luận
						            	</button>
						            	<button type="button" class="btn btn-danger" id="buttonNhacNho"> 
						            		Nhắc nhở
						            	</button>
		                            </div>
                                    <div class="my-4">
                                        <input type="text" class="form-control form-rounded" placeholder="Nhập bình luận" id="binhLuan">
                                    </div>
                                    <div class="my-4">
                                        <input type="text" class="form-control form-rounded" placeholder="Nhập nhắc nhở" id="nhacNho">
                                    </div>
                                    <div>
                                    	
                                    </div>
	                            </div>
	                        </div>
	                        <div class="my-4"></div>
	                        <!-- Comments Table -->
	                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
								<table class="table table-bordered table-striped mb-0" id="tblBangBinhLuan">
    								<thead class="text-center">
      									<tr>
        									<th>Bảng bình luận</th>
      									</tr>
    								</thead>
									<tbody>
										<tr>
									        <td>Hà Minh Khôi: Cần chỉnh sửa bố cục trang</td>
									    </tr>
									</tbody>
								</table>
								<table class="table table-bordered table-striped mb-0" id="tblBangNhacNho">
    								<thead class="text-center">
      									<tr>
        									<th>Bảng nhắc nhở</th>
      									</tr>
    								</thead>
									<tbody>
										<tr>
									        <td>Bùi Quang Huy: Làm lẹ hoặc bị đuổi khỏi nhóm</td>
									    </tr>
									</tbody>
								</table>
							</div>
	                        <!-- End of Comments Table -->
			            </div>
			            <!-- End of Right Contain -->

		            </div>
		            <!-- End of Row Divine -->

	            </div>
                <!-- End of Page Content -->

            </div>
            <!-- End of Main Contain -->

        </div>
        <!-- End of Content Wrapper -->
    </div>

	<!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="js/jquery/jquery.js"></script>
    <script>
    	$(document).ready(function(){
    		$("#binhLuan").show();
    		$("#tblBangBinhLuan").show();
    		$("#nhacNho").hide();
    		$("#tblBangNhacNho").hide();
    	});
    	$("#buttonBinhLuan").on("click",function(){
    		$("#binhLuan").show();
    		$("#tblBangBinhLuan").show();
    		$("#nhacNho").hide();
    		$("#tblBangNhacNho").hide();
    	});
    	$("#buttonNhacNho").on("click", function(){
    		$("#binhLuan").hide();
    		$("#tblBangBinhLuan").hide();
    		$("#nhacNho").show();
    		$("#tblBangNhacNho").show();
    	});
    	$("#binhLuan").on("keydown", function(e){
    		if(e.which==13)
    		{
    			var binhLuan = document.getElementById("binhLuan").value;
    			$("#tblBangBinhLuan").append("<tr> <td> Phạm Đức Khải: "+ binhLuan +"</td> </tr>");
    		}
    	});
    	$("#nhacNho").on("keydown", function(e){
    		if(e.which==13)
    		{
    			var nhacNho = document.getElementById("nhacNho").value;
    			$("#tblBangNhacNho").append("<tr> <td> Phạm Đức Khải: "+ nhacNho +"</td> </tr>");
    		}
    	});
    </script>

</body>
</html>