<div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-bordered table-striped mb-0" id="tblBangBinhLuan">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Bảng bình luận</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-sm-1">
                                                        <div class="thumbnail">
                                                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                                                            </div>
                                                            <div class="panel-body">
                                                                Panel content
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped mb-0" id="tblBangNhacNho">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Bảng nhắc nhở</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Bùi Quang Huy: Làm lẹ hoặc bị đuổi khỏi nhóm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>