<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: html_head(headTitle = 'Dashboard')"></head>

<body id="pageTop">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/header :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/header :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Số lượng công việc
                                        </div>
                                        <div th:text="${#lists.size(incompleteTasks) + #lists.size(completeTasks) + #lists.size(overdueTasks)}"
                                             class="h5 mb-0 font-weight-bold text-gray-800 align-items-center"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold font- text-success text-uppercase mb-1">
                                            Đã Hoàn Thành</div>
                                        <div th:text="${#lists.size(completeTasks)}" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-check fa-2x text-success"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Đang Thực Hiện</div>
                                        <div th:text="${#lists.size(incompleteTasks)}" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-user fa-2x text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Trễ Hạn</div>
                                        <div th:text="${#lists.size(overdueTasks)}" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clock fa-2x text-danger"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="my-4 col-xl-6 col-lg-12">
                        <h1 class="h3 mb-0 text-gray-800 mb-4">Công Việc Đang Thực Hiện</h1>
                        <table class="table table-bordered table-fluid" id="incompleteTable">
                            <thead>
                            <tr class="bg-warning text-white"><th>Tiêu Đề</th><th>Ngày Bắt Đầu</th><th>Ngày Kết Thúc</th> <th>Phạm Vi</th></tr>
                            </thead>
                            <tbody>
                                <th:block th:each="task : ${incompleteTasks}">
                                    <tr>
                                        <td th:text="${task.title}"></td>
                                        <td th:text="${task.startDateFormat}"></td>
                                        <td th:text="${task.endDateFormat}"></td>
                                        <td th:text="${task.sector == 1 ? 'Public' : 'Private'}"></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                    <div class="my-4 col-xl-6 col-lg-12">
                        <h1 class="h3 mb-0 text-gray-800 mb-4 ml-md-3">Công Việc Đã Hoàn Thành</h1>
                        <table class="table table-bordered table-fluid" id="completeTable">
                            <thead>
                            <tr class="bg-success text-white"><th>Tiêu Đề</th><th>Ngày Bắt Đầu</th><th>Ngày Kết Thúc</th> <th>Phạm Vi</th></tr>
                            </thead>
                            <tbody>
                                <th:block th:each="task : ${completeTasks}">
                                    <tr>
                                        <td th:text="${task.title}"></td>
                                        <td th:text="${task.startDateFormat}"></td>
                                        <td th:text="${task.endDateFormat}"></td>
                                        <td th:text="${task.sector == 1 ? 'Public' : 'Private'}"></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                    <div class="my-4 col-xl-6 col-lg-12">
                        <h1 class="h3 mb-0 text-gray-800 mb-4 ml-md-3">Công Việc Trễ Hạn</h1>
                        <table class="table table-bordered table-fluid" id="overdueTable">
                            <thead>
                            <tr class="bg-danger text-white"><th>Tiêu Đề</th><th>Ngày Bắt Đầu</th><th>Ngày Kết Thúc</th> <th>Phạm Vi</th></tr>
                            </thead>
                            <tbody>
                            <th:block th:each="task : ${overdueTasks}">
                                <tr>
                                    <td th:text="${task.title}"></td>
                                    <td th:text="${task.startDateFormat}"></td>
                                    <td th:text="${task.endDateFormat}"></td>
                                    <td th:text="${task.sector == 1 ? 'Public' : 'Private'}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#pageTop">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận đăng xuất</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc muốn đăng xuất không?</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Đăng xuất" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/script :: scripts"></th:block>
<th:block th:replace="fragments/script :: extra_scripts"></th:block>

</body>
</html>