<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: html_head(headTitle = 'Login')"></head>

<body class="bg-gradient-primary">

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img th:src="@{/img/login.jpg}" class="w-100 h-100" style="object-fit: cover; object-position: center;">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào mừng trở lại!</h1>
                                    </div>
                                    <form th:action="@{/login}" method="POST" class="user">
                                        <div th:if="${param.error}">
                                            <div class="col-sm-12 alert alert-danger" role="alert">Invalid email or password</div>
                                        </div>

                                        <div th:if="${param.logout}">
                                            <div class="col-sm-12 alert alert-info" role="alert">You have been logged out</div>
                                        </div>

                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Mật khẩu" required>
                                        </div>
                                        <input type="submit" value="Đăng nhập" class="btn btn-primary btn btn-primary btn-user btn-block">
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/users/register}">Tạo tài khoản mới!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="script :: scripts"></th:block>

</body>
</html>