<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: html_head(headTitle = 'Task Details')"></head>

<body id="pageTop">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/header :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/header :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row py-4">
                    <!-- Left Contain -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="text-center">
                                <h1 class="h1 text-gray-900"> Chi tiết công việc </h1>
                            </div>

                            <!-- tblChiTietCongViec -->
                            <div class="table-responsive">
                                <table class="table table-fluid mb-0" id="tblChiTietCongViec">
                                    <tbody>
                                    <tr>
                                        <th class="text-gray-900">Mã công việc</th>
                                        <th th:text="${task.id}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Người tạo công việc</th>
                                        <th th:text="${task.user.fullName}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Tên công việc</th>
                                        <th th:text="${task.title}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Ngày bắt đầu</th>
                                        <th th:text="${task.startDateFormat}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Ngày kết thúc</th>
                                        <th th:text="${task.endDateFormat}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Phạm vi</th>
                                        <th th:text="${task.sector == 1 ? 'Public' : 'Private'}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Trạng thái</th>
                                        <th:block th:switch="${task.status}">
                                            <th th:case="1">Đang thực hiện</th>
                                            <th th:case="2">Hoàn thành</th>
                                            <th th:case="3">Trễ hạn</th>
                                        </th:block>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Số người tham gia</th>
                                        <th th:text="${#lists.size(task.participatedUsers)}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Tên thành viên</th>
                                        <th th:text="${task.participatedUsersAsFullName}"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-gray-900">Tài liệu</th>
                                        <th>
                                            <div th:if="${uploadError != null}" th:text="${uploadError}"
                                                 class="alert alert-danger" role="alert">Error Message
                                            </div>
                                            <form th:action="@{/tasks/upload-document}" method="POST" class="input-group mb-3" enctype="multipart/form-data">
                                                <input type="hidden" name="taskId" th:value="${task.id}">
                                                <div class="form-group w-100">
                                                    <input type="file" class="form-control-file" name="document">
                                                </div>
                                                <input type="submit" class="btn btn-primary" value="Tải lên">
                                            </form>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of tblChiTietCongViec -->

                            <div class="row py-2">
                                <th:block th:each="document : ${task.documents}">
                                    <div class="col-6 col-md-3 m-2 text-center">
                                        <div class="position-relative py-2">
                                            <img th:src="@{/img/document.png}" width="50">
                                            <a th:href="@{|/tasks/delete-document/${document.id}?taskId=${task.id}|}" class="position-absolute" style="top: -20px; right:0;">
                                                <i class="fas fa-times-circle h5 text-danger"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <a th:href="@{/}" th:text="${document.name}"></a>
                                        </div>
                                        <div>
                                            <span>[[${#numbers.formatInteger(document.size, 4 , 'COMMA')}]] bytes</span>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <!-- End of Left Contain -->

                    <!-- Right Contain -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" id="buttonBinhLuan">
                                        Bình luận
                                    </button>
                                    <button type="button" class="btn btn-danger" id="buttonNhacNho">
                                        Nhắc nhở
                                    </button>
                                </div>
                                <div th:if="${commentPermission}" class="my-4">
                                    <form th:action="@{|/tasks/add-comment?taskId=${task.id}|}" th:object="${comment}" method="POST" id="commentForm">
                                        <input th:field="*{content}" type="text" class="form-control form-rounded" placeholder="Nhập bình luận" id="binhLuan">
                                    </form>
                                </div>
                                <div sec:authorize="hasRole('ROLE_ADMIN')" class="my-4">
                                    <form th:action="@{|/tasks/add-reminder?taskId=${task.id}|}" th:object="${reminder}" method="POST" id="reminderForm">
                                        <input th:field="*{content}" type="text" class="form-control form-rounded" placeholder="Nhập nhắc nhở" id="nhacNho">
                                    </form>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="my-4"></div>
                        <!-- Comments Table -->
                        <div class="table-wrapper-scroll- my-custom-scrollbar" id="divTbl">
                            <table class="table table-bordered borderless tblBangBinhLuan" id="tblBangBinhLuan">
                                <thead class="text-center bg-white">
                                <tr>
                                    <th>Bảng bình luận</th>
                                </tr>
                                </thead>
                                <tbody class="bg-white">
                                    <th:block th:each="comment : ${task.comments}">
                                        <tr>
                                            <td class="pb-0">
                                                <div class="d-flex flex-column comment-section">
                                                    <div class="p-2">
                                                        <div th:classappend="${currentUser == comment.user ? 'flex-row-reverse' : 'flex-row'}" class="d-flex user-info">
                                                            <img class="rounded-circle" th:src="@{/img/undraw_profile.svg}" width="40">
                                                            <div class="d-flex flex-column justify-content-start mx-2">
                                                                <span th:text="${comment.user.fullName}" th:classappend="${currentUser == comment.user ? 'text-right' : ''}" class="d-block font-weight-bold name"></span>
                                                                <span th:text="${comment.commentTime}" th:classappend="${currentUser == comment.user ? 'text-right' : ''}" class="date text-black-50"></span>
                                                            </div>
                                                        </div>
                                                        <div th:classappend="${currentUser == comment.user ? 'text-right' : ''}" class="mt-2">
                                                            <p th:text="${comment.content}" class="text-gray-900"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>

                            <table class="table table-bordered borderless bg-white tblBangNhacNho" id="tblBangNhacNho">
                                <thead class="text-center">
                                <tr>
                                    <th>Bảng nhắc nhở</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="reminder : ${task.reminders}">
                                        <tr>
                                            <td class="pb-0">
                                                <div class="d-flex flex-column comment-section">
                                                    <div class="p-2">
                                                        <div th:classappend="${currentUser == reminder.user ? 'flex-row-reverse' : 'flex-row'}" class="d-flex user-info">
                                                            <img class="rounded-circle" th:src="@{/img/undraw_profile.svg}" width="40">
                                                            <div class="d-flex flex-column justify-content-start mx-2">
                                                                <span th:text="${reminder.user.fullName}" th:classappend="${currentUser == reminder.user ? 'text-right' : ''}" class="d-block font-weight-bold name"></span>
                                                                <span th:text="${reminder.reminderTime}" th:classappend="${currentUser == reminder.user ? 'text-right' : ''}" class="date text-black-50"></span>
                                                            </div>
                                                        </div>
                                                        <div th:classappend="${currentUser == reminder.user ? 'text-right' : ''}" class="mt-2">
                                                            <p th:text="${reminder.content}" class="text-gray-900"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                        <!-- End of Comments Table -->
                    </div>
                    <!-- End of Right Contain -->

                </div>
                <!-- End of Row Divine -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#pageTop">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận đăng xuất</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc muốn đăng xuất không?</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Đăng xuất" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/script :: scripts"></th:block>
<th:block th:replace="fragments/script :: extra_scripts"></th:block>

</body>
</html>