<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: html_head(headTitle = 'User Profile Form')"></head>

<body id="pageTop">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/header :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/header :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="add-work-form">
                    <!-- Page Heading -->
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Sửa hồ sơ</h1>
                    </div>

                    <!-- User Form -->
                    <form th:action="@{/save-profile}" th:object="${user}" method="POST" class="user">
                        <div th:if="${uniqueEmailError != null}" th:text="${uniqueEmailError}"
                             class="alert alert-danger" role="alert">Error Message
                        </div>

                        <input type="hidden" th:field="*{id}">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                     class="alert alert-danger" role="alert">Error Message
                                </div>
                                <input type="text" th:field="*{lastName}" class="form-control form-control-user" id="exampleLastName"
                                       placeholder="Họ" required>
                            </div>

                            <div class="col-sm-6">
                                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                     class="alert alert-danger" role="alert">Error Message
                                </div>
                                <input type="text" th:field="*{firstName}" class="form-control form-control-user" id="exampleFirstName"
                                       placeholder="Tên" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <div th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"
                                     class="alert alert-danger" role="alert">Error Message
                                </div>

                                <label class="mb-2 ml-2">Ngày sinh: </label>
                                <input type="date" th:field="*{dob}" class="form-control form-control-user" onkeydown="return false" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                                 class="col-sm-12 alert alert-danger" role="alert">Error Message
                            </div>

                            <div class="col-sm-6">
                                <div>
                                    <label class="px-2">Giới tính: </label>

                                    <input type="radio" th:field="*{gender}" th:value="1" id="male">
                                    <label class="mr-2" for="male">Nam</label>

                                    <input type="radio" th:field="*{gender}" th:value="0" id="female">
                                    <label for="female">Nữ</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                 class="alert alert-danger" role="alert">Error Message
                            </div>

                            <input type="email" th:field="*{email}" class="form-control form-control-user" id="exampleInputEmail"
                                   aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
                                 class="alert alert-danger" role="alert">Error Message
                            </div>
                        </div>
                        <input type="submit" value="Lưu" class="btn btn-primary btn btn-primary btn-user btn-block">
                        <a th:href="@{/profile}" class="btn btn-primary btn-user btn-block">Về hồ sơ</a>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#pageTop">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận đăng xuất</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc muốn đăng xuất không?</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Đăng xuất" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/script :: scripts"></th:block>
<th:block th:replace="fragments/script :: extra_scripts"></th:block>

</body>
</html>